.searchcontainer {
    border: none;
    padding: 5px;
    width: 60%;
    border-radius: 20px;
    background: white;
}

.search {
    line-height: 5px;
    width: 60%;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 5px;
}
