

.custom-input-top {
    border-radius: 15px;
    
    background-color: white;
    height: 30px;
    width: 100%;
    border: none;
    border-color: none;
    padding-right: 4%;


  }

  .custom-input-bottom {
    border-radius: 15px;
    
    background-color: white;
    height: 30px;
    width: 100%;
    border: none;
    border-color: none;
    padding-right: 4%;


  }

  .react-datepicker-wrapper input[type="text"]{
    border: none;
}
  